---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="A propos"
  description="Fabien Champigny"
  pubDate={new Date('May 20 2024')}
>
  <p>Fabien... en contstruction 🤥</p>
</Layout>
